body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
//  background-image: url('/grey.png');
//  line-height: 25px;
}

//p, h1, h2, h3, h4, h5 {
//  margin: 25px 0px 25px 0px;
//}

$left-container-width: 150px;
$center-container-width: 360px;
$right-container-width: 500px;
$container-padding: 15px;

.red {
  color: red;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: 30px;
//  line-height: 50px;
}

.photo img {
  border: 1px solid black;
}

.wrapper {
  margin-left: $container-padding;
  width: 6*$container-padding + $left-container-width + $center-container-width + $right-container-width;
  .container {
    padding: $container-padding;
  }
  .bio-information {
    position: fixed;
    padding-top: 38px;
    width: $left-container-width;
  }
  .center-container {
    margin-left: $left-container-width + 2 * $container-padding;
    width: $center-container-width;
    margin-bottom: 30px;
  }
  .right-container {
    position: fixed;
    top: 0;
    left: $left-container-width + $center-container-width + (5 * $container-padding);
    width: $right-container-width;
  }
}

.social {
  i {
    padding: 5px;
  }
}

a:visited, a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

.language {
  .flag {
    width: 28px;
    padding-top: 2px;
    float: left;
  }
  .name {
    font-weight: bold;
    width: 70px;
    float: left;
  }
}

.clear { clear: both; }
