%h3 Phone
+1(650)391-7706
%i.icon-phone
%i.icon-comments
%h3 Email
%a{href: 'mailto:andrew@bedesign.be', title: 'email'}
  andrew@bedesign.be
%h3 Blog
%a{href: 'http://andrewsblog.org', title: 'andrewsblog.org'}
  andrewsblog.org
%br
%a{href: 'http://lovely-planet.org', title: 'lovely-planet.org'}
  lovely-planet.org
(1)
%h3 Social
.social
  %a{href: 'http://www.linkedin.com/in/andrewfecheyrlippens', title: 'linkedin'}
    %i.icon-linkedin
  %a{href: 'https://twitter.com/andruby', title: '@andruby'}
    %i.icon-twitter
  %a{href: 'https://github.com/andruby', title: 'github'}
    %i.icon-github-alt
  %a{href: 'https://www.facebook.com/afecheyr', title: 'facebook'}
    %i.icon-facebook
%h3 Date Of Birth
29 . 03 . 1986
%h3 Address
%small
  151 Calderon Ave #299
  %br
  94041 Mountain View, CA
