.wrapper
  .container.bio-information
    = haml :bio_information
  .container.center-container
    = haml :profile
  .container.right-container
    %p{style: 'margin: 125px 0px 0px 20px;'}
      %em
        Portfolio with screenshots coming soon.
