!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Hire Me
    %link{:rel => "stylesheet", :href => "/stylesheets/style.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/fontawesome.css"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', :rel => 'stylesheet', :type => 'text/css'}
  %body
    = yield
