%h1 Andrew Fecheyr-Lippens

%h2.red.experience Summary
%p
  I am a business engineer with nine years of experience as a system architect, software
  engineer and technical director. I love creating web applications and soft real-time systems.

%h2.red.experience Work Experience
%p
  %strong Technical Director – LawGives
  %br
  %small Palo Alto, California, June 2011 - January 2013
%p
  %strong Technical Advisor – Mindsumo.com & Splitcast
  %br
  %small Mountain View, California, 2012 - present
%p
  %strong Software Engineer – VASCO Data Security
  %br
  %small Mechelen, Belgium, September 2011 - December 2011
%p
  %strong Project Lead - PIX RAY Engineering N.V.
  %br
  %small Ghent, Belgium, 2009 - 2011
%p
  %strong Ruby on Rails Developer - Younited S.A.
  %br
  %small Brussels, Belgium, 2010
%p
  %strong Project Lead - Medilab B.V.B.A.
  %br
  %small Ghent, Belgium, 2004 - 2010
%p
  %strong Founder - Bedesign
  %br
  %small Ghent, Belgium, 2006 - present
%p
  %strong Co-Founder - What’s Cookin’?
  %br
  %small Ghent, Belgium, 2006 - 2010
%p
  %strong Co-Founder - CaveBox Gameservers
  %br
  %small Ghent, Belgium, 2003 - 2004

%h2.red.skills Technical Skills

%h2.red.education Formal Education
%p
  %strong Master in Computer Engineering
  %br
  %small Universidad Politecnica de Valencia, 2009 - 2010
%p
  %strong Master in Business Engineering
  %br
  %small Ghent University, 2007 - 2009
%p
  %strong Bachelor in Business Engineering
  %br
  %small Ghent University, 2004 - 2007

%h2.red.languages Languages

.language
  .flag
    %img{src: '/flags/Netherlands-Flag-16.png'}
  .name
    Dutch
  .level
    Mother tongue
  .clear

.language
  .flag
    %img{src: '/flags/United-Kingdom-flag-16.png'}
  .name
    English
  .level
    Excellent
  .clear

.language
  .flag
    %img{src: '/flags/France-flag-16.png'}
  .name
    French
  .level
    Good
  .clear

.language
  .flag
    %img{src: '/flags/Spain-flag-16.png'}
  .name
    Spanish
  .level
    Novice
  .clear
